{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        At our core, we believe shopping should be simple, stylish, and
        satisfying. Born from a passion for quality and creativity, we aim to
        bring you a handpicked collection of products that inspire confidence
        and joy. Whether you're upgrading your wardrobe or finding the perfect
        gift, we've got you covered — from head to toe.
      </p>
    </div>
  </div>
</header>
{% endblock %}