{% extends 'base.html' %}
{% block content %}

<!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Register</h1>
          <p class="lead fw-normal text-white-50 mb-0">Register for User Account</p>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        
        <div class="col-md-6 offset-md-3">

          <br /><br />
          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            
            {{form.as_p}}
            <!-- <div class="mb-3">
                  <select class="form-select {% if form.role.errors %}is-invalid{% endif %}" 
                          id="{{ form.role.id_for_label }}" 
                          name="{{ form.role.name }}"
                          required>
                      <option value="" >Select account type</option>
                      <option value="customer" {% if form.role.value == 'customer' %}selected{% endif %}>
                          Customer - Browse and shop products
                      </option>
                      <option value="staff" {% if form.role.value == 'staff' %}selected{% endif %}>
                          Staff - Manage products and basic inventory
                      </option>
                      <option value="manager" {% if form.role.value == 'manager' %}selected{% endif %}>
                          Manager - Access sales analytics and manage staff
                      </option>
                      <option value="admin" {% if form.role.value == 'admin' %}selected{% endif %}>
                          Admin - Full system access and Django admin
                      </option>
                  </select>
                  {% if form.role.errors %}
                      <div class="invalid-feedback">{{ form.role.errors.0 }}</div>
                  {% endif %}
              </div> -->
            <br /><br />
            <button type="submit" class="btn btn-secondary">
              Register
            </button>
          
          </form>
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
          <br /><br />
        </div>
      </div>
    </div>
{% endblock %}
